---
type: research
description: "My research in robotics, human-robot interaction and artificial intelligence."
---

The central motivating theme of my research is **to develop robot technologies that enable close, natural, and extended cooperation with humans**.
I envision mixed human-robot ecologies where complex control commands can be instructed through natural language, and robots are able to anticipate people’s needs, provide the best support to them, and even influence their intents and behaviors.
My work focuses on the design of human-aware robot control systems that allow robots to _embrace_ the interaction with the human _and_ the external world _by design_.
This will allow for humans and robots to accomplish together what neither of them can do alone.


**My research bridges the gap between robot control, human-robot interaction, and artificial intelligence.**
Over the years, I have worked on
i) exploring the breadths of how tactile systems can improve perception in the nearby space,
ii) implementing state of the art control systems for humanoid robots, and
iii) investigating how non-verbal and contextual communication can advance human-robot interaction and intelligent manufacturing.


The following is a non comprehensive list of both my published articles (i.e. projects that ended up in a conference proceeding or journal issue), and work that will not be published at all—such as the `yarpdroid` project. If you are interested in understanding more about my _ongoing_ (unpublished) projects, please [contact me](mailto:{{ site.email }}) (or [stalk me on GitHub]({% for network in site.social %}{% if network.title == "github-alt" %}{{ network.url }}{% endif %}{% endfor %})).
