---
category: cv
type: cv
description: I am a robotics engineer, a computer scientist, and a team lead.
tags: [robotics,artificial intelligence,advanced manufacturing,humanoid robotics,cognitive robotics,human robto interaction,cv,personal,resume,curriculum,online,research,design,iit,istituto italiando di tecnologia,phd,yale,university,postdoc,assistant professor,candidate]
pubyears:
 - 2023
 - 2022
 - 2021
 - 2020
 - 2019
 - 2018
 - 2017
 - 2016
 - 2015
 - 2014
---

{% include video.html url="//www.youtube.com/embed/yixb6WeZL-Q" margin-bottom="60px" padding-bottom="52%" max-width="100%" %}

# Who am I

{% include years_elap.html from="2008" %}
My work lies at the intersection of _Robotics_, _Artificial Intelligence_, and _Human-Robot Interaction_ with the goal of **developing robot technologies that enable close, natural, and extended cooperation with humans**.
I aim at lowering the barriers to entry for humans to naturally interact with robots, and in doing so I design human-aware robot systems that are able to work with and around people.
To me, the engineering is as important as the science: **I make robots work**{:.color-banner}, and I hold a deep commitment to doing so while implementing scalable, robust, and elegant systems.

---
{: class="no-print"}

 * <b>{{ yearDiffInt | strip_newlines }} years'</b> research experience in **Humanoid Robotics**, **Human-Robot Interaction** and **Artificial Intelligence**.
 * Director of the [Human Interaction and RObotics [HIRO] Group](https://hiro-group.ronc.one) at CU Boulder, where I lead a team of ~20 graduate and undergraduate students to perform state-of-the-art research. Proven ability to manage multiple projects and supervise multiple people while meeting challenging deadlines.
 * Chief Technology Officer of [Lab0](https://lab0.com), a stealth startup operating in the logistics and supply chain industry.
 * Extensive background in kinematics, optimization, robot control, decision making, planning under uncertainty, calibration, tactile sensing, machine learning, 2D and 2D computer vision, IMU processing.
 * Mastery of **C++**, with a deep knowledge of the _ROS_ and _YARP_ middlewares. Daily experience with the _iCub_ humanoid and the _Baxter_ collaborative robot.
 * Strong presentation/communication skills thanks to experience in giving both technical and non-technical talks to both small and big groups, tailoring to the audience. Presented to major international robotics conferences, as well as several outreach events, ranging from exhibitions and fairs, to live TV shows and various interviews.
 * Proven track record in writing technical reports as well as scientific papers. Authored and co-authored numerous international peer-reviewed scientific articles and journals. Extensive experience with research grant writing and awarding.

# Summary

Alessandro Roncone received his B.Sc. _summa cum laude_ in Biomedical Engineering in February 2008, and his M.Sc. _summa cum laude_ in NeuroEngineering in July 2011 from the [Università degli Studi di Genova](http://www.unige.it/), Italy.
In April 2015 he completed his Ph.D. in _Robotics, Cognition and Interaction Technologies_ from [Università degli studi di Genova](http://www.unige.it) and [Italian Institute of Technology (IIT)](http://www.iit.it), working in the _Robotics, Brain and Cognitive Sciences_ and the _iCub Facility_ departments under the supervision of prof. [Giorgio Metta](http://pasa.lira.dist.unige.it/). The goal of his Ph.D. project was to exploit insights from the neurosciences in order to improve the sensorimotor capabilities of the [iCub](http://www.icub.org) humanoid robot.
From 2015 to 2018, he worked as a Postdoctoral Associate at the [Social Robotics Lab](http://scazlab.yale.edu/) in Yale University under the supervision of prof. [Brian Scassellati (a.k.a. Scaz)](http://www.cs.yale.edu/homes/scaz/), where he focused on human robot collaboration and advanced manufacturing.
In Fall 2018, he became faculty in the Computer Science Department of University of Colorado Boulder, where he directs the [Human Interaction and RObotics [HIRO] Group](https://hiro-group.ronc.one).
