 <!-- About Section -->
    <section class="success no-print" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="separating-line">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <p>{{ site.description }} He will start as Assistant Professor in the Computer Science Department at University of Colorado Boulder in Fall 2018.</p>
                </div>
                <div class="col-lg-6">
                    {% include years_elap.html from="2010" %}
                    <p>Alessandro has more than {{ yearDiffStr | strip_newlines }} years' research experience in robotics. He worked full time with the iCub, one of the most advanced humanoid robots, on machine perception and artificial intelligence. His mastery of C++ and the YARP/ROS software architectures has been employed for research in human-robot interaction, kinematics, tactile perception and robot control.
                    {% if site.banner %}<span class="about-banner">{{ site.banner }}</span>{% endif %}</p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>
