 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-secondary-on-white">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <p>{{ site.aboutA }}</p>
                </div>
                <div class="col-lg-6">
                    <p>{{ site.aboutB }}</p>
                </div>
<!--                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
            {% if site.categories.blog%}
            <div class="row">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Blog</h2>
                        <hr class="star-secondary-on-white">
                    </div>
                </div>
                {% for post in site.posts %}
                    {% if post.categories contains 'blog' %}
                        <div class="col-sm-4 col-lg-offset-1 portfolio-item">
                            <a href="{{ post.url }}" class="portfolio-link-tertiary" data-toggle="modal">
                                <h4>{{ post.title }}</h4>
                                <p>{{ post.description }}</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
