   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top {% if page.type == "cv" or page.type == "fourofour" %}no-print{% endif %}">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% if page.type == "research" %}#page-top{% else %}/{% endif %}">
                    <img class="img-responsive" src="/img/logo_transparent.svg">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% if page.type == "cv" %}
                    <li class="page-scroll">
                        <a href="/">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/{{ site.resume-industry-link }}" target="_blank">[Industry Resume]</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/{{ site.resume-academia-link }}" target="_blank">[Academia Resume]</a>
                    </li>
                    {% else %}
                    {% if page.type == "research" %}
                    <li class="page-scroll">
                        <a href="#research">Research</a>
                    </li>
                    {% else %}
                    <li class="page-scroll">
                        <a href="/">Research</a>
                    </li>
                    {% endif %}
                    {% if page.type == "design" %}
                    <li class="page-scroll">
                        <a href="#design">Design</a>
                    </li>
                    {% else %}
                    <li class="page-scroll">
                        <a href="/design.html">Design</a>
                    </li>
                    {% endif %}
                    {% if page.type == "blog" %}
                    <li class="page-scroll">
                        <a href="#blog">Blog</a>
                    </li>
                    {% else %}
                    <li class="page-scroll">
                        <a href="/blog.html">Blog</a>
                    </li>
                    {% endif %}
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/cv.html">CV</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% if page.type == "research" or page.type == "design" or page.type == "blog" %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive with-shadow-on-hover logo-img" src="/img/logo_transparent.svg" alt="alecive-logo">
                    <div class="intro-text">
                        <span class="{% if page.type == "research" or page.type == "design" %}name{% else %}name-small{% endif %}">{{ site.title }}</span>
                        <hr class="separating-line">
                        <span class="{% if page.type == "research" or page.type == "design" %}owner{% else %}owner-small{% endif %}">{{ site.owner }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% elsif page.type == "cv" %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive no-print with-shadow-on-hover cv-img" src="{{ site.cv-image }}" alt="alessandro-roncone">
                    <div class="intro-text">
                        <span class="name-small no-print">{{ page.title }}</span>
                        <hr class="separating-line no-print">
                        <span class="owner-small no-print">{{ page.description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endif %}

