<div id="article-img">
    {% if include.description%}
        <a href="/img/{{ include.url }}" target="_blank">
            <img src="/img/{{ include.url }}" class="img-responsive img-centered" alt="{{ include.description }}" style="margin-bottom: 0px;" />
        </a>
        <pre style="margin-bottom: 20px;"><code>{{ include.description }}</code></pre>
    {% else%}
        <a href="/img/{{ include.url }}" target="_blank">
            <img src="/img/{{ include.url }}" class="img-responsive img-centered" alt="{{ include.url }}" style="margin-bottom: 20px;" />
        </a>
    {% endif%}
</div>
