
    <section id="{{ page.type }}">
        <div class="container" id="portfolio">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ page.type }}</h2>
                    <hr class="separating-line {{ page.type }}">
                </div>
            </div>
            <div class="row">
                {% if page.type == "research" or  page.type == "design" %}
                <div class="col-lg-12 hidden-xs" id="article" style="margin-top: 0px; margin-bottom: 40px;">
                    {{ content | markdownify }}
                </div>
                {% endif %}

                {% for post in site.posts %}
                    {% if post.categories contains page.type %}
                        {% if page.type == "research" or  page.type == "design" %}
                            {% if post.double %}
                            <div class="col-sm-6 col-sm-offset-3 portfolio-item">
                            {% else %}
                            <div class="col-sm-6 portfolio-item">
                            {% endif %}
                                <a href="{{ post.url }}" class="with-shadow portfolio-link">
                                    <div class="caption">
                                        <div class="caption-content">
                                            <!-- <i class="fa fa-plus fa-3x"></i> -->
                                            <h2>+</h2>
                                            <h4>{{ post.title }}</h4>
                                        </div>
                                    </div>
                                    <img src="img/portfolio/{% if post.img-thumb %}{{ post.img-thumb }}{% else %}{{ post.img }}{% endif %}" class="img-responsive" alt="{{ post.alt }}">
                                </a>
                            </div>
                        {% elsif page.type == "blog" %}
                            <div class="col-md-10 col-md-offset-1 portfolio-item">
                                <a href="{{ post.url }}" class="no-border with-shadow portfolio-link" style="max-width:100%">
                                    <p class="post-date">{{ post.date | date: '%B %d, %Y'  }}</p>
                                    <h3>{{ post.title }}</h3>
                                    <p class="post-description">{{ post.description }}</p>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
