
{% if include.type == "design" %}
    <section class="success" id="design">
{% elsif include.type == "research" %}
    <section id="research">
{% endif %}
        <div class="container" id="portfolio">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ include.type }}</h2>
                    <hr class="separating-line {{ include.type }}">
                </div>
            </div>
            <div class="row">
                {% if include.type == "research" %}
                    <div class="col-lg-12 hidden-xs" id="article" style="margin-top: 0px; margin-bottom: 40px;">
                        <p>The following is a non comprehensive list of both my <strong>published</strong> articles (i.e. projects that ended up in a conference proceeding or journal issue), and work that will not be published at all—such as the <code class="highlighter-rouge">yarpdroid</code> project. If you are interested in understanding more about my <em>ongoing</em> (unpublished) projects, please <a href="mailto:{{ site.email }}">contact me</a> (or <a href="{% for network in site.social %}{% if network.title == "github-alt" %}{{ network.url }}{% endif %}{% endfor %}" target="_blank">stalk me on GitHub</a>).</p>
                    </div>
                {% elsif include.type == "design" %}
                    <div class="col-lg-12 hidden-xs" id="article" style="margin-top: 0px; margin-bottom: 40px;">
                        <p>I've spent a good part of my college life doing graphic design for a living. Although I don't actively do it any more, the following is a list of the open-source projects I did to showcase my skills. I'm keeping them in this page for many reasons: i) historical record—after all these years, people are still using them; ii) I really enjoyed doing them; iii) they still are a proof of my graphic prowess, which unfortunately right now is only leveraged in my presentations. </p>
                    </div>
                {% endif %}
                {% for post in site.posts %}
                {% if post.categories contains include.type %}
                {% if post.double %}
                    <div class="col-lg-12 portfolio-item">
                {% else %}
                    <div class="col-sm-6 portfolio-item">
                {% endif %}
                        <a href="{{ post.url }}" class="with-shadow portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <!-- <i class="fa fa-plus fa-3x"></i> -->
                                    <h2>+</h2>
                                    <h4>{{ post.title }}</h4>
                                </div>
                            </div>
                            <img src="img/portfolio/{% if post.img-thumb %}{{ post.img-thumb }}{% else %}{{ post.img }}{% endif %}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
