
<section id="post-cv">
    <div class="container" style="margin-top:0px; margin-bottom:0px;">
        <div class="row only-print">
            <div class="col-lg-12 text-center">
                <h2>{{ site.owner }}</h2>
                <h3>{{ page.description }}</h3>
            </div>
        </div>
        <div id="article">
            {{ content }}

            <h2>Professional Experience</h2>
            {% for item in page.professional %}
                <div class="row cv-item">
                    <div class="col-sm-3">
                        <h3 class="inlineifprinted">{{item.start}} - {{item.end}}</h3>
                        {% if item.location-link %}<h4 class="inlineifprinted"><a href="{{item.location-link}}" target="_blank">{{item.location}}</a></h4>
                        {% else %}<h4 class="inlineifprinted">{{item.location}}</h4>
                        {% endif %}
                    </div>

                    <div class="col-sm-9">
                        <h2>{{item.name}}</h2>
                        <p>{% if item.title %}<i>{{item.title}}</i><br>{% endif %}
                        {{item.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Education</h2>
            {% for college in page.education %}
                <div class="row cv-item">
                    <div class="col-sm-3">
                        <h3 class="inlineifprinted">{{college.start}} - {{college.end}}</h3>
                        {% if college.location-link %}<h4 class="inlineifprinted"><a href="{{college.location-link}}" target="_blank">{{college.location}}</a></h4>
                        {% else %}<h4 class="inlineifprinted">{{college.location}}</h4>
                        {% endif %}
                    </div>

                    <div class="col-sm-9">
                        <h2>{{college.name}}</h2>
                        <p>{% if college.title %}<i>{{college.title}}</i><br>{% endif %}
                        {{college.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Publications</h2>
            {% for item in page.publications %}
                <div class="row cv-item">
                    <div class="col-sm-4">
                        <h3 class="inlineifprinted">{{item.year}}</h3>
                        <h4 class="inlineifprinted">{{item.venue}}</h4>
                        <p  class="no-print hidden-xs">{{item.where}}</p>
                    </div>

                    <div class="col-sm-8">
                        <h2>{{item.title}}{% if item.pdf %}<a class="no-print" href="{{ site.url }}/papers/{{ item.pdf }}" target="_blank"> [PDF]</a>{% endif %}</h2>
                        <p><i>{{item.authors}}</i><br>
                        {{item.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Misc</h2>
            {% for item in page.misc %}
                <div class="row cv-item">
                    <div class="col-sm-4">
                        <h3 class="inlineifprinted">{{item.year}}</h3>
                        <h4 class="inlineifprinted">{{item.venue}}</h4>
                        <p  class="no-print">{{item.where}}</p>
                    </div>

                    <div class="col-sm-8">
                        <h2>{{item.title}}</h2>
                        <p>{% if item.authors %}<i class="no-print">{{item.authors}}</i><br class="no-print">{% endif %}
                        {{item.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Graphic Design</h2>
            {% for item in page.graphics %}
                <div class="row cv-item">
                    <div class="col-sm-3">
                        <h3>{{item.start}} - {{item.end}}</h3>
                        {% if item.location-link %}<h4><a href="{{item.location-link}}" target="_blank">{{item.location}}</a></h4>
                        {% else %}<h4>{{item.location}}</h4>
                        {% endif %}
                    </div>

                    <div class="col-sm-9">
                        <h2>{{item.name}}</h2>
                        <p>{% if item.title %}<i>{{item.title}}</i><br>{% endif %}
                        {{item.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Skills and Technical Expertise</h2>
            <p class="no-print">The following is a list of my so-called <i>skills</i>, i.e. a set of progress bars that have little meaning and are totally subjective. They fall short in depicting who I really am, but they are a fair rundown of my practical talents nonetheless.</p>
            {% for skill in page.skills %}
            <div class="row cv-item">
                <div class="col-sm-12">
                    <p><b>{{ skill.name }}: </b></p>
                    <div class="only-print">
                    {% for item in skill.items %}
                        <span class="label" style="opacity: 0.{{ item.knowledge }};"><e class="ok"> {{ item.name }} </e><e class="hover"> {{ item.knowledge }}% </e></span>
                    {% endfor %}
                    </div>

                    {% for item in skill.items %}
                        <div class="progress no-print">
                            <div class="progress-bar" role="progressbar" data-percent="{{ item.knowledge }}%" style="width: {{ item.knowledge }}%;">
                                <span class="sr-only">{{ item.knowledge }}% Complete</span>
                            </div>
                            <span class="progress-type">{{ item.name }}</span>
                            <span class="progress-completed">{{ item.knowledge }}%</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <p class="only-print" style="border-left: 10px solid #{{ site.color.primary }}; padding-left: 10px; margin-top: 20px;">This CV has been auto<i>-magically</i> generated from the correspondent page on my personal website. For this reason, there may be some formatting problems here and there. Compilation Date: <i>{{ site.time | date: '%B %d, %Y' }}</i></p>
        </div>
    </div>
</section>
