
    <section id="post">
        <div class="container" id="portfolio">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ page.title }}</h2>
                    <h3>{{ page.description }}</h3>
                    <hr class="separating-line">
                </div>
            </div>
            <div id="article" itemprop="articleBody">
                {% if page.img %}
                    <div id="article-img" itemprop="image" itemscope itemtype="http://schema.org/ImageObject" class="no-print">
                        <img src="/img/portfolio/{{ page.img }}" class="img-fluid img-centered img-container" style="margin-bottom: 60px;" alt="{{ page.alt }}" itemprop="url contentUrl">
                    </div>
                {% endif %}

                {% if page.link %}
                    <h3>Link: <a href="{{ page.link }}" target="_blank">{{ page.link-alt }}</a></h3>
                {% endif%}

                {{ content }}
            </div>
        </div>
    </section>
