
<section id="post">
    <div class="container" id="portfolio">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ page.title }}</h2>
                <h3>{{ page.description }}</h3>
                <hr class="star-primary">
            </div>
        </div>
        <div id="article">
            <h1>UNDER CONSTRUCTION - DO NOT RELY ON IT</h1>

            <p>{{ content }}</p>

            <h2>Education</h2>
            {% for college in page.education.colleges %}
                <div class="row cv-item">  
                    <div class="col-sm-3">
                        <div class="cv-section-title">
                            <h4>{{college.start}} - {{college.end}}</h4>
                            <h2>{{college.location}}</h2>
                            <!-- <p>2010 - 2012 Senior Graphic Designer <br> 2012 - 2014 Project Manager</p> -->
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <h2>{{college.name}}</h2>
                        <p><i>{{college.title}}</i><br>
                        {{college.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Skills and Technical Expertise</h2>
            {% for skill in page.skills %}
                <p><b>{{ skill.name }}: </b></p>
                <ul>
            <!--{% for item in skill.items %}
                    <li><span class="label" style="opacity: 0.{{ item.knowledge }};"><e class="ok"> {{ item.name }} </e><e class="hover"> {{ item.knowledge }}% </e></span></li>
                {% endfor %} -->
                </ul>
                {% for item in skill.items %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-percent="{{ item.knowledge }}%" style="width: {{ item.knowledge }}%;">
                            <span class="sr-only">{{ item.knowledge }}% Complete</span>
                        </div>
                        <span class="progress-type">{{ item.name }}</span>
                        <span class="progress-completed">{{ item.knowledge }}%</span>
                    </div>
                {% endfor %}
            {% endfor %}

<!--                 <h2>Education</h2>
                {% for college in page.education.colleges %}
                <h3><a href="{{ college.link }}"><strong>{{ college.name }}</strong></a></h3>
                <h4><em>{{ college.degree }}, {{ college.year }}</em></h4>
                {% endfor %}

            <h2>Professional Experience</h2>

                {% for item in page.professional %}
                <div class="row">
                    <div class="col-xs-8 nohref">
                        <h4><a href="{{ item.link }}"><strong>{{ item.name }}</strong></a></h4>
                    </div>
                    <div class="col-xs-4 text-right">
                        <h5><em>{{ item.start | date: "%b %Y" }} to {{ item.end | date: "%b %Y" }}</em></h5>
                        <h5>{{ item.location }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4><em>{{ item.title }}</em></h4>

                        <p>{{ item.summary }}</p>

                        <br/>

                        <h4>Notable Projects:</h4>

                        {% for project in item.projects %}
                        {% if project.link %}
                        <h5><a href="{{ project.link }}"><strong>{{ project.name }}</strong></a></h5>
                        {% else %}
                        <h5><strong>{{ project.name }}</strong></h5>
                        {% endif %}

                        <p>{{ project.description }}</p>

                        <p><b>Applicable Skills:</b>
                            {% for skill in project.skills %}
                            <span class="label label-default skills"> {{ skill }} </span>
                            {% endfor %}
                        </p>
                        <br/>
                        {% endfor %}
                    </div>
                </div>

                <br/>
                {% endfor %}

            <h2>Certifications and Awards</h2>
                {% for item in page.certsAndAwards %}
                <h4>{{ item.name }}, {{ item.year }}</h4>
                {% endfor %} -->

        </div>
    </div>
</section>