
<section id="post-cv">
    <div class="container" id="portfolio" style="margin-top:0px; margin-bottom:0px;">
        <div class="row only-print">
            <div class="col-lg-12 text-center">
                <h2>{{ site.skills }}</h2>
                <h3>{{ page.description }}</h3>
            </div>
        </div>
        <div id="article">
            {{ content }}

            <h2>Education</h2>
            {% for college in page.education %}
                <div class="row cv-item">  
                    <div class="col-sm-4">
                        <div class="cv-section-title">
                            <h4 class="inlineifprinted">{{college.start}} - {{college.end}}</h4>
                            {% if college.location-link %}<h2 class="inlineifprinted"><a href="{{college.location-link}}" target="_blank">{{college.location}}</a></h2>
                            {% else %}<h2 class="inlineifprinted">{{college.location}}</h2>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <h2>{{college.name}}</h2>
                        <p>{% if college.title %}<i>{{college.title}}</i><br>{% endif %}
                        {{college.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Publications</h2>
            {% for item in page.publications %}
                <div class="row cv-item">  
                    <div class="col-sm-4">
                        <div class="cv-section-title">
                            <h3 class="inlineifprinted">{{item.year}}</h3>
                            <h4 class="inlineifprinted">{{item.venue}}</h4>
                            <p>{{item.where}}</p>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <h2>{{item.title}}{% if item.pdf %}<a href="papers/{{item.pdf}}" target="_blank"> [PDF]</a>{% endif %}</h2>
                        <p><i>{{item.authors}}</i><br>
                        {{item.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Misc</h2>
            {% for item in page.misc %}
                <div class="row cv-item">  
                    <div class="col-sm-4">
                        <div class="cv-section-title">
                            <h3 class="inlineifprinted">{{item.year}}</h3>
                            <h4 class="inlineifprinted">{{item.venue}}</h4>
                            <p>{{item.where}}</p>
                            <!-- <p>2010 - 2012 Senior Graphic Designer <br> 2012 - 2014 Project Manager</p> -->
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <h2>{{item.title}}</h2>
                        <p><i>{{item.authors}}</i><br>
                        {{item.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Professional Experience</h2>
            {% for item in page.professional %}
                <div class="row cv-item">  
                    <div class="col-sm-4">
                        <div class="cv-section-title">
                            <h4 class="inlineifprinted">{{item.start}} - {{item.end}}</h4>
                            {% if item.location-link %}<h3 class="inlineifprinted"><a href="{{item.location-link}}" target="_blank">{{item.location}}</a></h3>
                            {% else %}<h3 class="inlineifprinted">{{item.location}}</h3>
                            {% endif %}
                            <!-- <p>2010 - 2012 Senior Graphic Designer <br> 2012 - 2014 Project Manager</p> -->
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <h2>{{item.name}}</h2>
                        <p>{% if item.title %}<i>{{item.title}}</i><br>{% endif %}
                        {{item.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Graphic Design</h2>
            {% for item in page.graphics %}
                <div class="row cv-item">  
                    <div class="col-sm-4">
                        <div class="cv-section-title">
                            <h4>{{item.start}} - {{item.end}}</h4>
                            {% if item.location-link %}<h3><a href="{{item.location-link}}" target="_blank">{{item.location}}</a></h3>
                            {% else %}<h3>{{item.location}}</h3>
                            {% endif %}
                            <!-- <p>2010 - 2012 Senior Graphic Designer <br> 2012 - 2014 Project Manager</p> -->
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <h2>{{item.name}}</h2>
                        <p>{% if item.title %}<i>{{item.title}}</i><br>{% endif %}
                        {{item.description}}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <h2>Skills and Technical Expertise</h2>  
            {% for skill in page.skills %}
            <div class="row cv-item">
                <div class="col-sm-12">
                    <p class="inlineifprinted"><b>{{ skill.name }}: </b></p>
                    <div class="only-print">
                    {% for item in skill.items %}
                        <span class="label" style="opacity: 0.{{ item.knowledge }};"><e class="ok"> {{ item.name }} </e><e class="hover"> {{ item.knowledge }}% </e></span>
                    {% endfor %} 
                    </div>

                    {% for item in skill.items %}
                        <div class="progress no-print">
                            <div class="progress-bar" role="progressbar" data-percent="{{ item.knowledge }}%" style="width: {{ item.knowledge }}%;">
                                <span class="sr-only">{{ item.knowledge }}% Complete</span>
                            </div>
                            <span class="progress-type">{{ item.name }}</span>
                            <span class="progress-completed">{{ item.knowledge }}%</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <p class="only-print" style="border-left: 10px solid #{{ site.color.primary }}; padding-left: 10px;">This CV has been auto(<i>-magically</i>) generated from the correspondent page on my personal website. For this reason, there may be some formatting problems here and there. Compilation Date: <i>{{ page.date | date: '%B %d, %Y' }}</i></p>
        </div>
    </div>
</section>
