<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}
    {% if page.type == "research" or page.type == "design" or page.type == "blog" %}
      {% include portfolio.html %}
      {% include about.html %}
    {% elsif page.type == "cv" %}
      {% include cv.html %}
    {% else %}
      {% include article.html %}
      {% include about.html %}
    {% endif%}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
